.indicator {
    position: absolute;
    width: 32px;
    height: 32px;
    z-index: 1;
    border-radius: 50%;
    transform: translate(-70%, -30%);
}

.icon {
    width: 100%;
    height: 100%;
}

.brilliant { background-color: var(--brilliant-color); }
.greatFind { background-color: var(--great-find-color); } 
.best { background-color: var(--best-color); }
.excellent { background-color: var(--excellent-color); }
.good { background-color: var(--good-color); }
.book { background-color: var(--book-color); }
.inaccuracy { background-color: var(--inaccuracy-color); }
.mistake { background-color: var(--mistake-color); }
.miss { background-color: var(--miss-color); }
.blunder { background-color: var(--blunder-color); }
.forced { background-color: var(--forced-color); }
